<!DOCTYPE html>
<html>
<head>
  <title>Testapi</title>
  <%= stylesheet_link_tag    "testapi/application", media: "all" %>
  <%= javascript_include_tag "testapi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
